* {
    font-family: Helvetica, Arial, sans-serif;
}

/*header*/
#main-heading {
    background-image: url(../images/pattern.jpeg);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

/*section 1*/
.brushes h2 {
    background-color: aqua;
}

/*section 2*/


/*section 3*/