/*universal*/

* {
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color:white;
}

/*header*/
#main-heading {
    background-image: url(../images/pattern.jpeg);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

/*section 1*/
.brushes h2 {
    background-color: mediumspringgreen;
}

/*section 2*/
.frames h2 {
    background-color: lightcoral;
}

/*section 3*/
.paint h2 {
    background-color: skyblue;
}

/*Prices*/
.price {
    font-weight: bold;
    color: blue;
}